:root {
  --primary-color: #ffffff;
  --secondery-color: #06c167;
  --third-color: #f3fcf7;
  --text-color: #1d1d1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

/* Mobile view (width: 576px) */

header {
  width: 100%;
  height: 67px;
  background-color: #f3fcf7;
}
.navbar {
  width: 98.08%;
  margin: 0 auto;
  padding: 17px 52px 0;
  display: flex;
  justify-content: space-between;
}
.logo h1 {
  margin-top: 10px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 3rem;
  line-height: 16px;
  color: #06c167;
}
.hamburger {
  display: block;
  width: 50px;
  height: 35px;
  padding-top: 6px;
  border: 1px solid #06c167;
  margin-top: -2px;
}
.hamburger span {
  width: 30px;
  height: 4px;
  margin: 2.5px auto;
  display: block;
  background-color: #06c167;
}
.menu {
  display: none;
}

/* Tablet & Dekstop View */

@media screen and (min-width: 768px) {
  .navbar {
    padding: 17px 20px;
  }
  .hamburger {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu ul {
    margin-top: 7px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: space-between;
  }
  .menu ul li {
    list-style: none;
    font-size: 14px;
    text-transform: capitalize;
  }
  .menu ul li a {
    text-decoration: none;
    color: #171717;
    position: relative;
  }
  .menu ul li a::after {
    content: "";
    background-color: #06c167;
    opacity: 0;
    width: 6px;
    height: 6px;
    top: 21px;
    left: 16px;
    border: none;
    border-radius: 70%;
    position: absolute;
  }
  .menu ul li a:hover {
    color: #06c167;
    transition: all;
  }
  .menu ul li a:hover::after {
    opacity: 1;
  }
}
@media screen and (min-width: 992px) {
  .menu ul {
    padding: 4px 56px 0 0;
  }
  .logo h1 {
    padding-left: 20px;
  }
}
/* hero section */
.hero-area {
  width: 98.08%;
  height: 1038px;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: var(--third-color);
}
.text-area {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
.titel h2 {
  max-width: 416px;
  margin: 20px 0;
  text-align: center;
  font-size: 66px;
  text-transform: capitalize;
  line-height: 90px;
  position: relative;
}
.titel h2::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--text-color);
  position: relative;
  left: 8px;
}
.text p {
  text-align: justify;
  text-align-last: center;
  line-height: 29px;
  font-size: 19px;
}
.text-area .btn {
  width: 100%;
  height: auto;
  position: relative;
}
.text-area .btn .btnarrow {
  width: 100%;
  height: 68px;
  padding: 5px 83px 5px 0;
  border: none;
  margin: 50px 0;
  background-color: var(--secondery-color);
  color: var(--primary-color);
  font-size: 25px;
}
.text-area .btn .btnarrow .fa-arrow-right {
  position: relative;
  left: 80px;
}
.text-area .btn .btnarrow .fa-arrow-right::after {
  color: var(--primary-color);
}
.img-area {
  width: 100%;
  margin: 0 auto;
}
.img-area .hero-img {
  display: block;
  width: 408px;
  margin: 0 auto;
  position: relative;
}

.img-element .polcadot {
  width: 193px;
  position: relative;
  left: 285px;
  bottom: 173px;
}
.img-element .upimg1 {
  display: block;
  width: 249px;
  height: auto;
  border: 0 solid #fff;
  border-radius: 24px;
  position: relative;
  left: 119px;
  bottom: 254px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.img-element .upimg2 {
  display: block;
  width: 249px;
  height: auto;
  border: 0 solid #fff;
  border-radius: 24px;
  position: relative;
  left: 119px;
  bottom: 383px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
@media screen and (min-width: 768px) {
  .hero-area {
    width: 100%;
    height: 377px;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .text-area {
    width: 44%;
    padding: 0;
    margin: 20px 0 0 0;
  }
  .titel h2 {
    width: 300px;
    font-size: 36px;
    padding-left: 0;
    text-align: left;
    line-height: 40px;
  }
  .titel h2::after {
    width: 6px;
    height: 6px;
    left: 4px;
  }
  .text p {
    width: 311px;
    text-align: left;
    text-align-last: left;
    line-height: 24px;
    font-size: 11px;
  }
  .text-area .btn {
    width: 100%;
    height: auto;
    position: relative;
  }
  .text-area .btn .btnarrow {
    width: 165px;
    height: 51px;
    padding: 0;
    margin: 30px 0;
    font-size: 20px;
  }
  .text-area .btn .btnarrow .fa-arrow-right {
    position: relative;
    left: 7px;
  }
  .img-area {
    width: 56%;
    margin: 0;
  }
  .img-area .hero-img {
    width: 320px;
  }
  .img-element .polcadot {
    width: 125px;
    left: 273px;
    bottom: 103px;
  }
  .img-element .upimg1 {
    width: 147px;
    left: 243px;
    bottom: 430px;
  }
  .img-element .upimg2 {
    width: 147px;
    left: -13px;
    bottom: 398px;
  }
}
@media screen and (min-width: 992px) {
  .logo h1 {
    padding-left: 35px;
  }
  .hero-area {
    height: 444px;
  }

  .titel h2 {
    font-size: 40px;
    padding-left: 35px;
  }
  .text p {
    width: 333px;
    padding-left: 35px;
  }
  .text-area .btn {
    padding-left: 35px;
  }
  .img-area .hero-img {
    width: 382px;
  }

  .img-element .polcadot {
    width: 137px;
    left: 348px;
    bottom: 124px;
  }
  .img-element .upimg1 {
    width: 182px;
    left: 312px;
    bottom: 497px;
  }
  .img-element .upimg2 {
    width: 182px;
    left: 5px;
    bottom: 467px;
  }
}
@media screen and (min-width: 1200px) {
  .logo h1 {
    padding-left: 55px;
  }
  .menu ul {
    gap: 35px;
    padding: 4px 80px 0 0;
  }
  .hero-area {
    height: 484px;
  }
  .titel h2 {
    width: 416px;
    padding-left: 68px;
    font-size: 45px;
    line-height: 55px;
  }
  .text p {
    width: 382px;
    padding-left: 68px;
  }
  .text-area .btn {
    padding-left: 65px;
  }
  .img-area .hero-img {
    width: 420px;
  }
  .img-element .polcadot {
    width: 150px;
    left: 409px;
    bottom: 138px;
  }
  .img-element .upimg1 {
    width: 198px;
    left: 368px;
    bottom: 542px;
  }
  .img-element .upimg2 {
    width: 198px;
    left: 33px;
    bottom: 514px;
  }
}
@media screen and (min-width: 1400px) {
  .img-element .polcadot {
    left: 470px;
  }
  .img-element .upimg1 {
    left: 431px;
  }
  .img-element .upimg2 {
    left: 95px;
  }
}
/* Brand Logo area */
.brand-logo {
  width: 100%;
  margin-top: 170px;
}
.brand-area {
  width: 98.08%;
  margin: 0 auto;
}
.brand-logo1 {
  width: 50%;
  padding-left: 60px;
}
.brand-logo2 {
  width: 50%;
  padding-left: 390px;
  margin-top: -33px;
}
.brand-logo3 {
  padding: 25px 0 0 235px;
}
@media screen and (min-width: 768px) {
  .brand-area {
    width: 370px;
    padding: 0 20px;
    margin: -135px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .brand-logo1 {
    width: 0;
    padding-left: 0;
  }
  .brand-logo1 img {
    width: 80px;
  }
  .brand-logo2 {
    width: 0;
    padding-left: 0;
    margin-top: 0;
  }
  .brand-logo2 img {
    width: 80px;
  }
  .brand-logo3 {
    padding: 0;
  }
  .brand-logo3 img {
    width: 80px;
  }
}
@media screen and (min-width: 992px) {
  .brand-area {
    width: 460px;
    padding: 0 20px 0 55px;
  }
  .brand-logo1 img {
    width: 100px;
  }
  .brand-logo2 img {
    width: 100px;
  }
  .brand-logo3 img {
    width: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .brand-area {
    width: 535px;
    padding: 0 20px 0 76px;
  }
  .brand-logo1 img {
    width: 120px;
  }
  .brand-logo2 img {
    width: 120px;
  }
  .brand-logo3 img {
    width: 120px;
  }
}
@media screen and (min-width: 1400px) {
  .brand-area {
    width: 600px;
  }
  .brand-logo1 img {
    width: 130px;
  }
  .brand-logo2 img {
    width: 130px;
  }
  .brand-logo3 img {
    width: 130px;
  }
}
/* icon area */
.icon-area {
  width: 100%;
  margin: 0 auto;
}
.icon-area .container {
  width: 98.08%;
  margin: 50px auto;
  padding: 10px 20px;
}
.icons {
  width: 500px;
  margin: 0 auto;
  border-top: 2px solid #d2d2d2;
  border-bottom: 2px solid #d2d2d2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.icon-div {
  width: 200px;
  height: 210px;
  margin: 50px 10px 0 20px;
}
.icon {
  width: 90px;
  height: 80px;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  background-color: #f3fcf7;
}
.icon .fa-solid::before {
  font-size: 40px;
  color: var(--secondery-color);
  position: absolute;
  left: 22.5px;
  top: 20px;
}
.icon-div .text {
  width: 150px;
  margin: 10px auto 0;
}
.icon-shipping .para1 {
  text-align: justify;
  font-size: 24px;
}
.icon-shipping .para2 {
  text-align: justify;
  font-size: 19px;
}

.icon-payment .para1 {
  text-align: justify;
  font-size: 22px;
}
.icon-payment .para2 {
  text-align: justify;
  font-size: 15px;
}
.icon-promo .para1 {
  text-align: justify;
  font-size: 23px;
}
.icon-promo .para2 {
  text-align: justify;
  font-size: 18px;
}
.icon-support .para1 {
  text-align: justify;
  font-size: 26px;
}
.icon-support .para2 {
  text-align: justify;
  font-size: 19px;
}
@media screen and (min-width: 768px) {
  .icon-area .container {
    margin: 150px auto 100px;
  }
  .icons {
    width: 700px;
    margin: 0 auto;
  }
  .icon-div {
    width: 145px;
    height: 80px;
    margin: 24px 1px 0 0;
    position: relative;
  }
  .icon {
    width: 50px;
    height: 50px;
    margin: 0;
  }
  .icon .fa-solid::before {
    font-size: 20px;
    left: 13.75px;
    top: 15px;
  }
  .icon-div .text {
    width: 121px;
    margin: 0;
    position: absolute;
    left: 63px;
    bottom: 34px;
  }
  .icon-shipping .para1 {
    text-align: justify;
    font-size: 13px;
    line-height: 10px;
  }
  .icon-shipping .para2 {
    text-align: justify;
    font-size: 10px;
  }
  .icon-payment .para1 {
    text-align: justify;
    font-size: 13px;
    line-height: 10px;
  }
  .icon-payment .para2 {
    text-align: justify;
    font-size: 10px;
  }
  .icon-promo .para1 {
    text-align: justify;
    font-size: 13px;
    line-height: 10px;
  }
  .icon-promo .para2 {
    text-align: justify;
    font-size: 10px;
  }
  .icon-support .para1 {
    text-align: justify;
    font-size: 13px;
    line-height: 10px;
  }
  .icon-support .para2 {
    text-align: justify;
    font-size: 10px;
  }
}
@media screen and (min-width: 992px) {
  .icons {
    width: 890px;
  }
  .icon-div {
    width: 182px;
    height: 126px;
    margin: 65px 1px 0 0px;
  }
  .icon-div .text {
    left: 28px;
    bottom: 80px;
  }
}
/* veg1 area */
.veg1 {
  width: 100%;
  margin: 0 auto;
}
.veg1 .container {
  width: 98.08%;
  margin: 0 auto;
}
.vegfirstImg {
  width: 450px;
  height: 391px;
  background-color: #f0f1ec;
  margin: 100px auto 0;
  position: relative;
}
.vegfirstImg img {
  width: 340px;
  height: 391px;
  position: absolute;
  left: 55px;
  bottom: 30px;
}
.vegfirstText {
  width: 450px;
  margin: 60px auto 0;
  position: relative;
}
.vegfirstText img {
  width: 204px;
  position: absolute;
  top: -11px;
  left: -57px;
  z-index: -999;
}
.vegfirstText .para1 {
  text-align: center;
  font-size: 20px;
}
.vegfirstText .para2 {
  text-align: center;
  font-size: 43px;
  padding-top: 20px;
}
.vegfirstText ul {
  list-style: none;
  line-height: 45px;
  padding: 40px 0 0 50px;
}
.vegfirstText ul li {
  padding-left: 10px;
  position: relative;
}
.vegfirstText ul .fa-check {
  color: var(--secondery-color);
}
.vegfirstText ul .fa-check::before {
  position: absolute;
  left: -29px;
  bottom: 14px;
}
@media screen and (min-width: 768px) {
  .veg1 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .vegfirstImg {
    width: 300px;
    height: 375px;
    background-color: #f3fafb;
    margin: 0 auto;
    position: relative;
  }
  .vegfirstImg img {
    width: 240px;
    height: 340px;
    position: absolute;
    left: 30px;
    bottom: 35px;
  }
  .vegfirstText {
    width: 340px;
    margin: 60px auto 0;
  }
  .vegfirstText img {
    width: 95px;
    top: 39px;
    left: -36px;
  }
  .vegfirstText .para1 {
    text-align: left;
    font-size: 16px;
  }
  .vegfirstText .para2 {
    text-align: left;
    font-size: 33px;
    padding-top: 15px;
  }
  .vegfirstText ul {
    list-style: none;
    line-height: 30px;
    padding: 25px 0 0 30px;
  }
  .vegfirstText ul li {
    padding-left: 0;
    position: relative;
  }
  .vegfirstText ul .fa-check {
    color: var(--secondery-color);
  }
  .vegfirstText ul .fa-check::before {
    left: -29px;
    bottom: 6px;
  }
}
@media screen and (min-width: 992px) {
  .vegfirstImg {
    width: 400px;
    height: 475px;
    margin: 0 40px 0 70px;
  }
  .vegfirstImg img {
    width: 340px;
    height: 440px;
  }
  .vegfirstText {
    width: 450px;
  }
  .vegfirstText img {
    left: -27px;
  }
  .vegfirstText .para2 {
    font-size: 40px;
    padding-right: 112px;
  }
  .vegfirstText ul {
    line-height: 40px;
  }
  .vegfirstText ul .fa-check::before {
    bottom: 12px;
  }
}
/* veg2 area */
.veg2 {
  width: 100%;
  margin: 0 auto;
}
.veg2 .container {
  width: 98.08%;
  margin: 0 auto;
}
.vegSecond-img {
  width: 450px;
  height: 391px;
  background-color: #f0f1ec;
  margin: 100px auto 0;
  position: relative;
}
.vegSecond-img img {
  width: 340px;
  height: 391px;
  position: absolute;
  left: 55px;
  bottom: 30px;
}
.vegSecond-text {
  width: 450px;
  margin: 60px auto 0;
  position: relative;
}
.vegSecond-text .text-area img {
  width: 263px;
  position: absolute;
  top: -11px;
  left: -57px;
  z-index: -999;
}
.vegSecond-text .text-area .para1 {
  text-align: center;
  font-size: 20px;
}
.vegSecond-text .text-area .para2 {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
}
.vegSecond-text .sold-product .product1 .para1 {
  text-align: center;
  font-size: 50px;
  color: var(--secondery-color);
  line-height: 76px;
  padding: 103px 0 0 0;
}
.vegSecond-text .sold-product .product1 .para2 {
  text-align: center;
  font-size: 20px;
}

.vegSecond-text .sold-product .product2 .para1 {
  text-align: center;
  font-size: 50px;
  color: var(--secondery-color);
  line-height: 76px;
  padding: 40px 0 0 0;
}
.vegSecond-text .sold-product .product2 .para2 {
  text-align: center;
  font-size: 17px;
}
.vegSecond-text .sold-product .product3 .para1 {
  text-align: center;
  font-size: 50px;
  color: var(--secondery-color);
  line-height: 76px;
  padding: 40px 0 0 0;
}
.vegSecond-text .sold-product .product3 .para2 {
  text-align: center;
  font-size: 20px;
}

.vegSecond-text .btn {
  width: 100%;
  height: auto;
  position: relative;
}
.vegSecond-text .btn .btnarrow {
  width: 100%;
  height: 68px;
  padding: 5px 83px 5px 0;
  border: none;
  margin: 50px 0;
  background-color: var(--secondery-color);
  color: var(--primary-color);
  font-size: 25px;
}
.vegSecond-text .btn .btnarrow .fa-arrow-right {
  position: relative;
  left: 80px;
}
.vegSecond-text .btn .btnarrow .fa-arrow-right::after {
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .veg2 .container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
  }
  .vegSecond-img {
    width: 300px;
    height: 375px;
    background-color: #f3fafb;
    margin: 0 auto;
    position: relative;
  }
  .vegSecond-img img {
    width: 240px;
    height: 340px;
    position: absolute;
    left: 30px;
    bottom: 35px;
  }
  .vegSecond-text {
    width: 340px;
    margin: 40px auto 0;
  }
  .vegSecond-text .text-area {
    width: 96%;
    padding: 0;
    margin: 0;
  }
  .vegSecond-text .text-area img {
    width: 95px;
    top: 39px;
    left: -36px;
  }
  .vegSecond-text .text-area .para1 {
    text-align: left;
    font-size: 16px;
  }
  .vegSecond-text .text-area .para2 {
    text-align: left;
    font-size: 39px;
    padding-top: 15px;
  }
  .vegSecond-text .sold-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  .vegSecond-text .sold-product .product1,
  .vegSecond-text .sold-product.product2,
  .vegSecond-text .sold-product .product3 {
    width: 100px;
  }

  .vegSecond-text .sold-product .product1 .para1 {
    font-size: 30px;
    line-height: 60px;
    padding: 0;
  }
  .vegSecond-text .sold-product .product1 .para2 {
    text-align: center;
    font-size: 13px;
  }

  .vegSecond-text .sold-product .product2 .para1 {
    font-size: 30px;
    line-height: 60px;
    padding: 0;
  }
  .vegSecond-text .sold-product .product2 .para2 {
    text-align: center;
    font-size: 12px;
  }
  .vegSecond-text .sold-product .product3 .para1 {
    font-size: 30px;
    line-height: 60px;
    padding: 0;
  }
  .vegSecond-text .sold-product .product3 .para2 {
    text-align: center;
    font-size: 13px;
  }

  .vegSecond-text .btn {
    width: 100%;
    height: auto;
    position: relative;
  }
  .vegSecond-text .btn .btnarrow {
    width: 165px;
    height: 51px;
    padding: 0;
    margin: 30px 0;
    font-size: 12px;
  }
  .vegSecond-text .btn .btnarrow .fa-arrow-right {
    position: relative;
    left: 7px;
  }
}
@media screen and (min-width: 992px) {
  .vegSecond-img {
    width: 400px;
    height: 475px;
    margin: 0 40px 0 70px;
  }
  .vegSecond-img img {
    width: 340px;
    height: 440px;
  }
  .vegSecond-text {
    margin: 70px auto 0;
  }
}
/* features area start */
.features {
  width: 100%;
  margin: 0 auto;
}
.features .container {
  width: 98.08%;
  margin: 60px auto 0;
}
.features .container .features-text {
  width: 300px;
  margin: 0 auto;
}
.features .container .features-text .para1 {
  text-align: center;
  font-size: 20px;
}
.features .container .features-text .para2 {
  text-align: center;
  font-size: 28px;
  padding-top: 15px;
}
.features .container .features-images {
  width: 500px;
  margin: 60px auto 0;
}
.features-images .img-one {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}
.features-images .img-one img {
  width: 100%;
  margin: 0 auto;
}
.features-images .img-two {
  width: 400px;
  background-color: #f0f1ec;
  border: 2px solid var(--secondery-color);
  margin: 0 auto;
}
.features-images .img-two .para1 {
  width: 300px;
  font-size: 41px;
  padding: 60px 0 0 60px;
}
.features-images .img-two .para2 {
  width: 300px;
  font-size: 20px;
  padding: 30px 0 0 60px;
}
.features-images .img-two .btn {
  width: 300px;
  padding: 50px 0 70px 60px;
}
.features-images .img-two .btn .btn-arrow {
  width: 150px;
  height: 45px;
  background-color: #f0ede2;
  border: none;
  font-size: 15px;
  color: var(--secondery-color);
}
.features-images .img-two .btn .btn-arrow .fa-arrow-right {
  position: relative;
  left: 5px;
  color: var(--secondery-color);
}
.features-images .img-three {
  width: 370px;
  height: 370px;
  margin: 0 auto;
}
.features-images .img-three img {
  width: 100%;
  margin: 0 auto;
}
.features-images .img-four {
  width: 400px;
  background-color: #f0f1ec;
  border: 2px solid var(--secondery-color);
  margin: 0 auto;
}
.features-images .img-four .para1 {
  width: 300px;
  font-size: 41px;
  padding: 60px 0 0 60px;
}
.features-images .img-four .para2 {
  width: 300px;
  font-size: 20px;
  padding: 30px 0 0 60px;
}
.features-images .img-four .btn {
  width: 300px;
  padding: 50px 0 70px 60px;
}
.features-images .img-four .btn .btn-arrow {
  width: 150px;
  height: 45px;
  background-color: #f0ede2;
  border: none;
  font-size: 15px;
  color: var(--secondery-color);
}
.features-images .img-four .btn .btn-arrow .fa-arrow-right {
  position: relative;
  left: 5px;
  color: var(--secondery-color);
}
.features-images .img-five {
  width: 370px;
  height: 370px;
  margin: 0 auto;
}
.features-images .img-five img {
  width: 100%;
  margin: 0 auto;
}
.features-images .img-six {
  width: 400px;
  background-color: #f0f1ec;
  border: 2px solid var(--secondery-color);
  margin: 0 auto;
}
.features-images .img-six .para1 {
  width: 300px;
  font-size: 41px;
  padding: 60px 0 0 60px;
}
.features-images .img-six .para2 {
  width: 300px;
  font-size: 20px;
  padding: 30px 0 0 60px;
}
.features-images .img-six .btn {
  width: 300px;
  padding: 50px 0 70px 60px;
}
.features-images .img-six .btn .btn-arrow {
  width: 150px;
  height: 45px;
  background-color: #f0ede2;
  border: none;
  font-size: 15px;
  color: var(--secondery-color);
}
.features-images .img-six .btn .btn-arrow .fa-arrow-right {
  position: relative;
  left: 5px;
  color: var(--secondery-color);
}
.features-images .img-seven {
  width: 370px;
  height: 370px;
  margin: 0 auto;
}
.features-images .img-seven img {
  width: 100%;
  margin: 0 auto;
}
.features-images .img-eight {
  width: 400px;
  background-color: #f0f1ec;
  border: 2px solid var(--secondery-color);
  margin: 0 auto;
}
.features-images .img-eight .para1 {
  width: 300px;
  font-size: 41px;
  padding: 60px 0 0 60px;
}
.features-images .img-eight .para2 {
  width: 300px;
  font-size: 20px;
  padding: 30px 0 0 60px;
}
.features-images .img-eight .btn {
  width: 300px;
  padding: 50px 0 70px 60px;
}
.features-images .img-eight .btn .btn-arrow {
  width: 150px;
  height: 45px;
  background-color: #f0ede2;
  border: none;
  font-size: 15px;
  color: var(--secondery-color);
}
.features-images .img-eight .btn .btn-arrow .fa-arrow-right {
  position: relative;
  left: 5px;
  color: var(--secondery-color);
}
@media screen and (min-width: 768px) {
  .features .container .features-images {
    width: 700px;                         /*  change*/
    border: 2px solid black;            /*  change*/
    display: flex;                        /*  change*/
    flex-wrap: wrap;                       /*  change*/
  }
  .features-images .img-one {
  width: 175px;                           /*  change*/
  height: 400px;
  margin: 0;                              /*  change*/
}
.features-images .img-one img {
  width: 100%;
  margin: 0 auto;
}
.features-images .img-two {
  width: 175px;                         /*  change*/
  background-color: #f0f1ec;
  border: 2px solid var(--secondery-color);
  margin: 0;                            /*  change*/
}
.features-images .img-two .para1 {
  width: 138.75px;                           /*  change*/
  font-size: 41px;
  /* padding: 60px 0 0 60px; */
}
.features-images .img-two .para2 {
  width: 138.75px;                       /*  change*/
  font-size: 20px;
  /* padding: 30px 0 0 60px; */
}
.features-images .img-two .btn {
  width: 138.75px;                        /*  change*/
  /* padding: 50px 0 70px 60px; */
}
.features-images .img-two .btn .btn-arrow {
  width: 70px;
  height: 21px;
  background-color: #f0ede2;
  border: none;
  font-size: 15px;
  color: var(--secondery-color);
}
.features-images .img-two .btn .btn-arrow .fa-arrow-right {
  position: relative;
  left: 5px;
  color: var(--secondery-color);
}

/*  three & four */
 .features-images .img-three {
  width: 175px;                           /*  change*/
  height: 400px;
  margin: 0;                              /*  change*/
}
.features-images .img-three img {
  width: 100%;
  margin: 0 auto;
}
.features-images .img-four {
  width: 175px;                         /*  change*/
  background-color: #f0f1ec;
  border: 2px solid var(--secondery-color);
  margin: 0;                            /*  change*/
}
.features-images .img-four .para1 {
  width: 138.75px;                           /*  change*/
  font-size: 41px;
  /* padding: 60px 0 0 60px; */
}
.features-images .img-four .para2 {
  width: 138.75px;                       /*  change*/
  font-size: 20px;
  /* padding: 30px 0 0 60px; */
}
.features-images .img-four .btn {
  width: 138.75px;                        /*  change*/
  /* padding: 50px 0 70px 60px; */
}
.features-images .img-four .btn .btn-arrow {
  width: 70px;
  height: 21px;
  background-color: #f0ede2;
  border: none;
  font-size: 15px;
  color: var(--secondery-color);
}
.features-images .img-four .btn .btn-arrow .fa-arrow-right {
  position: relative;
  left: 5px;
  color: var(--secondery-color);
}

}
